<!DOCTYPE html>
<html>
	<head>
		<title>Project: MANIFESTO | Home</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>

	<style media="screen">

.navigation{
	border: 2px solid black;
	margin-bottom: 20px;
	padding: 10px;
}
.dropdown{
		position: relative;
		display: inline-block;
}

.level1{
    padding: 15px 30px;
    font-size: 12pt;
    cursor: pointer;
		color: red;
		background-color: white;
}

.dropdown-content{
    display: none;
		position: absolute;
    background-color: white;
    min-width: none;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    display: block;
		font-size: 11pt;
}

.dropdown-content a:hover
{background-color: blue;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: yellow;
}

.home{
	display: inline-block;
}


body{
	margin-top: 50px;
	margin-left: 100px;
	background-image: url("assets/images/mainBg.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

h1{
	color: black;
}

h3{
	color: white;
}



	</style>


	<body>
<div class="navigation">
		<div class="home">
		<a href="index.html" target="_blank">HOME</a>
		</div>

		<div class="dropdown">
			<button class="level1">Level 1</button>
			<div class="dropdown-content">
				<a href="level1a.html" target="_blank">Level 1A</a>
				<a href="level1b.html" target="_blank">Level 1B</a>
				<a href="level1c.html" target="_blank">Level 1C</a>
			</div>
		</div>

</div>

		<br>
		<br>

			<h3>Project:</h3>
			<!--
<h1>MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO MANIFESTO
</h1>
		<!-->


</body>
</html>
