<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .margin{
        margin-left: 200px;
        border-left:2px solid;
        padding-left:20px;
        }

      .two{
        margin-left:400px;

      }

      .three{
        margin-left:600px;

      }
    </style>
  </head>

  <body>
    <div class="margin one">
      <h1>blah blah</h1>
    </div>

    <div class="margin two">
You might deny this until you realize that much of your self-worth is derived from Googling yourself; if you don't exist on the internet, you don't exist.
    </div>

    <div class="margin three">
You might deny this until you realize that much of your self-worth is derived from Googling yourself; if you don't exist on the internet, you don't exist.
    </div>





  </body>
</html>
